<!-- 
This is intended to be rendered to a PDF using pisa, not in a browser.
Therefore, the HTML and CSS here can look a bit fishy. Please refer to 
http://www.htmltopdf.org/doc/pisa-en.html for reference 
-->
<html>
<style>
/*Custom fonts*/
/*@font-face {
    font-family: Weird, "Weird Font";
    src: url(test/weird.ttf)
}
@font-face {
    font-family: Akkurat;
    src: url(test/Akkurat.ttf)
}
@font-face {
    font-family: Akk;
    src: url(test/akk.otf)
}*/
/* Page layout */
body {
    font-family: sans-serif;
    font-size:10pt;
}
@page {
    size: a4 portrait;
    margin: 2cm;
}
h1, h2, h3, h4 { /* Don't add an outline to the document */
    -pdf-outline: false;
}
.border {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}
.top_image {
    zoom: 80%;
}
</style>
<body>
    <p align="center" style="font-size:14px">
        <strong>{{event.name}}: Deine Buchung</strong> - eingegangen am {{booking.datum|date:"SHORT_DATETIME_FORMAT"}}
    </p>
    <p align="center" style="font-size:14px">
        <strong>DIESES TICKET BITTE AUSDRUCKEN UND BEIM CHECK-IN VORZEIGEN</strong>
    </p>
    <hr>
    <table width="100%">
        <tr style="padding-top:0.2cm;padding-bottom:0">
            <td width="30%" align="center" valign="top">
                <div style="font-size:24pt;font-weight:bold">{{ booking.code|upper }}</div>
            </td>
            <td align="right">
                <div style="font-size:20pt">
                    {{booking.nachname|slice:":10"|upper}}
                    {% if event.paketsystem_nutzen %}
                        {{booking.paket}} {{booking.schlafen|default:"NOSLEEP"}}
                    {% else %}
                        {{booking.tarif|upper|slice:"5"}} {{booking.anreise|upper|slice:"2"}}-{{booking.abreise|upper|slice:"2"}}
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr style="border-top:1pt black solid;padding-top:0.3cm;margin-top:0">
            <td width="30%" align="center" valign="top">
                <img align="left" src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chld=L&chl={{qr_url}}">
            </td>
            <td width="70%" valign="top">
                
                <div class="border" style="padding:0.2cm">
                    <i class="fa fa-user fa-fw"></i> <strong>{{booking.vorname}} {{booking.nachname}}</strong>{% if booking.geschlecht %}, {{booking.get_geschlecht_display}}{% endif %}, {{booking.geburtsdatum|date}}{% if booking.verein_ort %}, {{booking.verein_ort}}{% endif %}<br>
                    <i class="fa fa-envelope fa-fw"></i> {{booking.email}}<br>
                    <i class="fa fa-info fa-fw"></i> Buchungscode <strong>{{booking.code|upper}}</strong> (bitte notieren)<br>
                    <i class="fa fa-book fa-fw"></i>
                            {% if event.paketsystem_nutzen %}{{booking.paket.kurz}}{% else %}Tarif: {{booking.tarif}}{% endif %}
                        <br>
                    {% if event.paketsystem_nutzen %}
                    <i class="fa fa-bed fa-fw"></i> 
                            {{booking.schlafen.name|default:"Keine Übernachtung"}}
                        <br>
                    {% endif %}
                    {% if event.verpflegung %}
                    Essen: {{ booking.get_essen_display }}
                    {% endif %}
                    <br>
                    {% if booking.tshirt %}T-Shirt: {{booking.tshirt}} (+ € {{booking.tshirt.preis}})<br>{% endif %}
                    {% if booking.anreise %}Anreise: {{booking.anreise}}<br>{% endif %}
                    {% if booking.abreise %}Abreise: {{booking.abreise}}<br>{% endif %}

                    {% if booking.anmerkungen %}<br>Anmerkungen: {{booking.anmerkungen}}{% endif %}
                </div>
            </td>
        </tr>
    </table>
    <hr>
    <div style="font-size:1.4em;padding-top:0.2cm" class="row">
        <table width="100%" style="width:100%">
            <tr>
                <td>
                    Status: 
                    {{ booking.get_status_display|upper }}
                </td>
                <td align="center">
                    Gesamtbetrag: 
                    € {{booking.betrag}}
                </td>
                <td align="right">
                    Noch zu zahlen: 
                    € {{offen}}
                </td>
            </tr>
        </table>
    </div>
    <hr>
   
    <h4>Zahlungsverlauf</h4>
    <table class="table table-condensed table-striped" style="width:100%">
        <thead>
            <tr>
                <th align="left">Datum</th>
                <th align="left">Bemerkung</th>
                <th align="right">Betrag</th>
            </tr>
        </thead>
        <tbody>
            {% if not transactions %}
                <tr><td colspan=3 class="text-center">- Bisher keine Zahlungen von dir erhalten -</td></tr> 
            {% endif %}
            {% for t in transactions %}
                <tr>
                    <td>{{t.datum|date:"SHORT_DATETIME_FORMAT"}}</td>
                    <td>
                        {{t.get_typ_display}} 
                        {% if not t.mittel == "internal" %}
                            via {{t.get_mittel_display}}
                        {% endif %}
                        {% if t.grund %}
                            <br><small class="text-info">{{t.grund}}</small>
                        {% endif %}
                    </td>
                    <td align="right">€ {{t.betrag}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>

            <h4>Bankverbindung für Zahlungen</h4>
            <small>
            <table>
                <tr>
                    <td>Kontoinhaber</td><td>{{event.kontoinhaber}}</td>
                </tr>
                <tr>
                    <td>Verwendungszweck</td><td>{{booking.code|upper }} {{booking.vorname|upper}} {{booking.nachname|upper}}</td>
                </tr>
                <tr>
                    <td>Betrag</td><td>€ {{offen}}</td>
                </tr>
                <tr>
                    <td>IBAN</td><td>{{event.iban}}</td>
                </tr>
                <tr>
                    <td>BIC</td><td>{{event.bic}}</td>
                </tr>
            </table>
            </small>
    <hr>


        
</body>
</html>
