{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Deine Buchung{% endblock %}

{% block content %}
    <h1>
        {% if booking %}
            <div class="float-right">
                {% if request.user.is_staff and not booking.checkin %}
                <a href="{% url "convention:checkin" event.slug booking.pk %}" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Check In</a>
                {% endif %}
                {% if booking.checkin %}
                    <span class="btn btn-lg btn-success" uib-tooltip="Eingecheckt"><i class="fa fa-check"></i> {{booking.checkin|date:"SHORT_DATETIME_FORMAT"}}</span>
                {% endif %}
                <a href="{{print_url}}" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-print"></i> Drucken (PDF)</a>
            </div>
        {% endif %}
        Deine Buchung
    </h1>
    <hr>
    {% if not booking %}
        <p class="alert alert-info">
            Um deine Buchungs einzusehen benötigst du deinen Buchungscode, den du per E-Mail bekommen hast. Außerdem benötigen wir zum Schutz deiner privaten Daten zusätzlich als Bestätigung die Eingabe deiner E-Mail-Adresse.
            
        </p>
        <form action="" method="GET">
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary"><i class="fa fa-eye"></i> Buchung anzeigen</button>
            {% endbuttons %}
        </form>
    {% else %}
        {% if offen > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <a href="#pay" class="btn btn-primary float-right"><i class="fa fa-money"></i> Jetzt bezahlen</a>
                            <div style="padding-top:10px">
                                <i class="fa fa-warning"></i> Du hast deine Buchung noch nicht vollständig bezahlt, deswegen kann sie derzeit nicht bearbeitet und bestätigt werden.
                            </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        {% elif booking.status == "open" or booking.status == "progress" %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <i class="fa fa-check"></i> Deine Buchung enthält keine offenen Beträge und wird in nächster Zeit von uns bearbeitet.
                    </div>
                </div>
            </div>

        {% endif %}
        {% if dokumente_fehlend %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle fa-fw"></i>
                        Damit die Buchung bestätigt werden kann, müssen noch folgende Dokumente ausgefüllt werden: 
                        <strong>{{dokumente_fehlend|join:", "}}
                        </strong>                        
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-header">
                <div class="float-right">Eingegangen am {{booking.datum|date:"SHORT_DATETIME_FORMAT"}}</div>
                <i class="fa fa-table"></i> Details zu deiner Buchung
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chld=L&chl={{qr_url}}">
                        <h3 class="text-center">DIESES TICKET BITTE AUSDRUCKEN UND ZUM CHECK-IN MITBRINGEN</h3>
                    </div>
                    <div class="col-md-8">
                        <h2 class="float-right">
                            {{booking.nachname|slice:":10"|upper}} 
                            {% if event.paketsystem_nutzen %}
                                {{booking.paket}} {{booking.schlafen|default:"NOSLEEP"}}
                            {% else %}
                                {{booking.tarif|upper|slice:"5"}} {{booking.anreise|upper|slice:"2"}}-{{booking.abreise|upper|slice:"2"}}
                            {% endif %}
                        </h2>
                        <h1><strong>{{ booking.code|upper }}</strong></h1>
                        
                        <div class="card mb-3">
                            <div class="card-body">
                                <i class="fa fa-user fa-fw"></i> <strong>{{booking.vorname}} {{booking.nachname}}</strong>{% if booking.geschlecht %}, {{booking.get_geschlecht_display}}{% endif %}, {{booking.geburtsdatum|date}}{% if booking.verein_ort %}, {{booking.verein_ort}}{% endif %}<br>
                                
                                {% if booking.adresse %}<i class="fa fa-home fa-fw"></i> {{booking.adresse}}, {{booking.plz}} {{booking.ort}}, {{booking.land}}<br>{% endif %}
                                {% if booking.telefon %}<i class="fa fa-phone fa-fw"></i> {{booking.telefon}}{% endif %}
                                <i class="fa fa-envelope fa-fw"></i> {{booking.email}}<br>
                                <i class="fa fa-info fa-fw"></i> Buchungscode <strong>{{booking.code|upper}}</strong> (bitte notieren)<br>

                                <i class="fa fa-book fa-fw"></i>
                                        {% if event.paketsystem_nutzen %}{{booking.paket.kurz}}{% else %}Tarif: {{booking.tarif}}{% endif %}

                                {% if event.paketsystem_nutzen %}
                                <br><i class="fa fa-bed fa-fw"></i> 
                                        {{booking.schlafen.name|default:"Keine Übernachtung"}}

                                {% endif %}
                                {% if event.verpflegung %}
                                    <br><i class="fa fa-utensils fa-fw"></i> {{ booking.get_essen_display }}
                                {% endif %}
                                {% if booking.tshirt %}
                                    <br><i class="fa fa-tshirt fa-fw"></i> {{booking.tshirt}} (+ € {{booking.tshirt.preis}})</i>
                                {% endif %}

                                {% if booking.anreise %}
                                    <br><i class="fa fa-plane-arrival fa-fw"></i> Anreise: {{ booking.anreise }}
                                {% endif %}
                                {% if booking.abreise %}
                                    <br><i class="fa fa-plane-departure fa-fw"></i> Abreise: {{ booking.abreise }}
                                {% endif %}
     

                                {% if booking.anmerkungen %}<br><i class="fa fa-comment-o"></i> {{booking.anmerkungen}}{% endif %}
                            </div>
                        </div>

                        {% if dokumente %}
                        <h4>Regeln &amp; Bedingungen</h4>
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Dokument</th>
                                    <th>Status</th>
                                    <th>Upload</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dok in dokumente %}
                                <tr>
                                    <td><a href="{{dok.dokument.url}}" target="_blank">{{dok}}</a></td>
                                    <td>
                                        {% if not dok.upload %}
                                       <span class="text-success">
                                           <i class="fa fa-check fa-fw"></i> gelesen &amp; akzeptiert
                                       </span> 
                                       {% elif dok.anhang %}
                                       <span class="text-success">
                                           <i class="fa fa-check fa-fw"></i> Hochgeladen am {{dok.anhang.datum|date:"SHORT_DATETIME_FORMAT"}}
                                       </span>
                                       {% else %}
                                       <span class="text-danger">
                                           <i class="fa fa-times fa-fw"></i> Bitte ausfüllen und hochladen
                                       </span>
                                       {% endif %}
                                    </td>
                                    <td>
                                        {% if dok.upload %}
                                            {% if dok.anhang %}
                                                bereits abgeschlossen
                                            {% else %}
                                            <form method="POST" action="{% url "convention:upload" %}" id="upload-form-{{dok.id}}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <label class="btn btn-primary btn-xs">
                                                <i class="fa fa-upload fa-fw"></i> Upload
                                                <input type="file" name="datei" style="display:none" onChange="this.form.submit()" accept=".png, .jpg, .pdf">
                                                <input type="hidden" name="code" value="{{booking.code}}">
                                                <input type="hidden" name="email" value="{{booking.email}}">
                                                <input type="hidden" name="dokument" value="{{dok.id}}">
                                            </label>
                                            </form>
                                            {% endif %}
                                        {% else %}
                                            nicht erforderlich
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        
                        <h4>Zahlungsverlauf</h4>
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Datum</th>
                                    <th>Bemerkung</th>
                                    <th class="text-right">Betrag</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not transactions %}
                                    <tr><td colspan=3 class="text-center">- Bisher keine Zahlungen von dir erhalten -</td></tr> 
                                {% endif %}
                                {% for t in transactions %}
                                    <tr>
                                        <td>{{t.datum|date:"SHORT_DATETIME_FORMAT"}}</td>
                                        <td>
                                            {{t.get_typ_display}} 
                                            {% if not t.mittel == "internal" %}
                                                via {{t.get_mittel_display}}
                                            {% endif %}
                                            {% if t.grund %}
                                                <br><small class="text-info">{{t.grund}}</small>
                                            {% endif %}
                                        </td>
                                        <td class="text-right">€ {{t.betrag}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                Status: 
                                <span class="label 
                                {% if booking.status == "confirmed" %}
                                    label-success
                                {% elif booking.status == "danger" %}
                                    label-danger
                                {% else %}
                                    label-warning
                                {% endif %}
                                ">{{ booking.get_status_display|upper }}</span></h3>
                            </div>
                            <div class="col-md-4">
                                Gesamtbetrag: 
                                <span class="label label-default">€ {{booking.betrag}}</span>
                            </div>
                            <div class="col-md-4">
                                Noch zu zahlen: 
                                <span class="label label-default">€ {{offen}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% if offen > 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-3">
                    <div class="card-header">
                        <a name="pay"><i class="fa fa-euro-sign"></i> Zahlungsmöglichkeiten</a>
                    </div>
                    <div class="card-body">
                        <div class="row text-left">
                            <div class="col-md-3 text-center ">
                                <h4>PayPal</h4>
                                <p>
                                    Schnellste und einfachste Möglichkeit.
                                </p>
                                {{paypal_form.render}}
                            </div>
                            <div class="col-md-6 text-center">
                                <h4>Überweisung:</h4>
                                <small>
                                <dl class="row text-left">
                                    <dt class="col-sm-4">Kontoinhaber</dt><dd class="col-sm-8">{{event.kontoinhaber}}</dd>
                                    <dt class="col-sm-4">Verwendungszweck</dt><dd class="col-sm-8">{{booking.code|upper }} {{booking.vorname|upper}} {{booking.nachname|upper}}</dd>
                                    <dt class="col-sm-4">Betrag</dt><dd class="col-sm-8">€ {{offen}}</dd>
                                    <dt class="col-sm-4">IBAN</dt><dd class="col-sm-8">{{event.iban}}</dd>
                                    <dt class="col-sm-4">BIC</dt><dd class="col-sm-8">{{event.bic}}</dd>
                                </dl>
                                </small>
                            </div>
                            <div class="col-md-3 text-center">
                                <h4>Barzahlung</h4>
                                <p>Bitte Kontakt aufnehmen.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


    {% endif %}
        
{% endblock %}
