 {% extends "base.html" %} {% load bootstrap3 %} {% load staticfiles %} 

 {% block fulltitle %}Uniconvention.com - buch dein Einrad-Event!{% endblock %}
 
 {% block body %}   
<div class="jumbotron">
    <div class="container">

        <h1>Einrad-Events buchen</h1>
        <p>
            Willkommen bei uniconvention.com, dem neuen Buchungsportal für Einrad-Events. Wähle einfach ein Event aus der Liste und melde
            dich an!
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <tbody>
                {% for event in event_list %}
                <tr>
                    <td class="clearfix">
                        <p class="float-right">
                            <em>{{event.von|date:"SHORT_DATETIME_FORMAT"}} - {{event.bis|date:"SHORT_DATETIME_FORMAT" }}</em><br>
                            <strong>{{event.ausrichter}}</strong>
                        </p>
                        <h4>{{event}}</h4>
                        <p>{{event.beschreibung}}</p>

                        <a target="_blank" class="btn btn-primary float-right" href="{% url "convention:home" event.slug %}">
                            <i class="fa fa-pencil"></i> Weitere Infos &amp; Anmeldung
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}