
{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
           
        <h1>AJATA Freestyle Convention</h1>
        <p>
            Am <strong>12. und 13. November 2016</strong> findet die AJATA Einrad Freestyle Convention beim OTB in <strong>Osnabrück</strong> statt.
        </p>
        <p> 
            Bei unserer <strong>Auftaktveranstaltung</strong> am <strong>Samstag, den 12. November um 9.30 Uhr</strong> werden unsere Trainer sich und ihre Einrad-Tricks und Workshops vorstellen. 
        </p>
        <p class="text-right">
            <a href="{% url "convention:trainer" event.slug %}" class="btn btn-primary btn-lg"><i class="fa fa-arrow-right"></i> Mehr Infos zu den Trainern</a>
        </p>
        </div>
    </div>
<div class="row">
    <div class="col-lg-3 text-center">
        <a href="https://einrad-freestyle.de/wp-content/uploads/2016/09/flyer.jpg" class="" target="_blank">
            <img src="https://einrad-freestyle.de/wp-content/uploads/2016/09/flyer-214x300.jpg" alt="flyer"  />
        </a>
    </div>
    <div class="col-lg-4">
        <p>
        An diesem Wochende gibt es:
        </p>
        <ul>
            <li>freies Training in einer Freestyle-Halle</li>
            <li>Workshops mit Profi-Trainern</li>
            <li>viel zu lernen</li>
            <li>bombig viel Spaß</li>
            <li>entspannte Atmosphäre</li>
            <li><del>nette Leute</del> neue Freunde</li>
        </ul>
        <p>
        Beinhaltet:
        </p>
        <ul>
            <li>Schlafplatz (auf dem Boden)</li>
            <li>Frühstück, Abendessen und Mittagessen</li>
            <li>Getränke für den ganzen Tag</li>
            <li>Transfer zwischen Unterkunft und Sporthalle</li>
            <li>Teilnahme an den Workshops</li>
        </ul>
        <br>
        <p>
            <a href="{% static "convention/PM.pdf" %}" class="btn btn-info" target="_blank"><i class="fa fa-file-pdf-o"></i> Pressemitteilung vom 20.10.2016 (PDF)</a>
        </p>
    </div>
    <div class="col-lg-5">
        <div class="row">
            <div class="col-xs-6">
                <div>
                    <a href="https://otb.de">
                        <img class="size-medium" src="https://otb.de/images/logo_neu.png" alt="OTB" width="120" height="131" />
                    </a>
                </div>
            </div>
            <div class="col-xs-6">
                <div>
                    <a href="https://qu-ax.de" target="_blank">
                        <img class="size-medium" src="https://www.qu-ax.de/wp-content/uploads/2016/03/logo.png" alt="Qu-Ax" width="120" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <small style="color: #244aa5;">Osnabrücker Turnerbund<br>von 1876 e.V.</small>
            </div>
            <div class="col-xs-6">
                <small style="color: #244aa5;">unterstützt von<br>
                QU-AX - Only One</small>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <div style="padding-bottom:10px">
                    <a href="https://www.marktkauf.de/" target="_blank">
                        <img class="size-medium" width=100 src="https://www.marktkauf.de/medien/02-design/icons/logo_1.svg" alt="Coors - Ihre Bäckerei"  />
                    </a>
                </div>
            </div>
            <div class="col-xs-6">
                <div style="padding-bottom:10px">
                    <a href="http://www.coors-ihrebaeckerei.de/" target="_blank">
                        <img class="size-medium" src="{% static "convention/img/coors.png" %}" alt="Coors - Ihre Bäckerei"  />
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <small style="color: #244aa5;">unterstützt von<br>
                Marktkauf OS-Nahne</small>
            </div>
            <div class="col-xs-6">
                <small style="color: #244aa5;">unterstützt von<br>
                Coors - Ihre Bäckerei</small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6">
                <div style="padding-bottom:10px;padding-top:10px">
                    <a href="http://autovermietung-brehe.de/" target="_blank">
                        <img class="size-medium" width="196" src="{% static "convention/img/brehe.png" %}" alt="Autovermietung Brehe"  />
                    </a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6">
                <small style="color: #244aa5;">unterstützt von<br>
                Autovermietung Brehe</small>
            </div>
        </div>

    </div>


    <div class="clearfix"></div>
</div>
{% endblock %}
