{% extends "base.html" %}

{% block content %}
<h1>Teilnehmer</h1>

<div class="table-responsive">
    <table class="table table-hover table-sm table-striped">
        <tr>
            <th>Nachname</th>
            <th>Vorname</th>
            <th>Verein / Ort</th>
        </tr>
        {% for b in bookings %}
            <tr>
                <td>{{b.nachname}}</td><td>{{b.vorname}}</td><td>{% if b.verein_ort %}{{b.verein_ort}}{% endif %}</td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
