{% extends "base.html" %}
{% load countries %}
{% load l10n %}
{% block title %}Anmeldung{% endblock %}
{% block content %}
    <div ng-controller="RegCtrl as reg">
        <h1>
            <i class="fa fa-pencil-alt"></i> {{event.name}}: Anmeldung
        </h1>
        <h3>{{event.von|date:"SHORT_DATE_FORMAT"}}</h3>
        <hr>
        
        <form name="regForm" novalidate>
            {% csrf_token %}
            <div class="card mb-3">
                <div class="card-header"><i class="fa fa-user"></i> Persönliche Daten</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info">
                                Auf unserer <strong>Teilnehmerliste</strong> erscheint nur dein Vorname, dein Nachname und der Verein bzw. Ort (falls angegeben). Die Liste ist <strong>öffentlich</strong> auf der Webseite einsehbar.<br> Deine E-Mail-Adresse dient nur zur Kommunikation mit dem Organisator und wird <strong>nicht weitergegeben</strong>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6" >
                            <label>Vorname</label>
                            <input class="form-control" ng-class="{ 'is-invalid': regForm.vorname.$invalid && regForm.vorname.$dirty}" name="vorname" ng-model="reg.booking.vorname" type="text" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Nachname</label>
                            <input class="form-control"  ng-class="{ 'is-invalid': regForm.nachname.$invalid && regForm.nachname.$dirty }" name="nachname" ng-model="reg.booking.nachname" type="text" required>
                        </div>
                    </div>
                    {% if event.geschlecht %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Geschlecht</label>
                            <select class="form-control"  ng-class="{ 'is-invalid': regForm.geschlecht.$invalid && regForm.geschlecht.$dirty}" name="geschlecht" ng-model="reg.booking.geschlecht" required>
                                <option value="f">weiblich</option>
                                <option value="m">männlich</option>
                                <option value="d">divers</option>   
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    {% if event.adresse %}
                    <div class="row">
                        <div class="form-group col-md-6">
                                <label>Straße u. Hausnummer</label>
                                <input class="form-control"  ng-class="{ 'is-invalid': regForm.adresse.$invalid && regForm.adresse.$dirty}" name="adresse" ng-model="reg.booking.adresse" type="text" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label>PLZ</label>
                            <input class="form-control" ng-class="{ 'is-invalid': regForm.plz.$invalid && regForm.plz.$dirty}" name="plz" ng-model="reg.booking.plz" type="text" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Wohnort</label>
                            <input class="form-control" ng-class="{ 'is-invalid': regForm.ort.$invalid && regForm.ort.$dirty }" name="ort" ng-model="reg.booking.ort" type="text" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                                <label>Land {{countries}}</label>
                                <select class="form-control"  ng-class="{ 'is-invalid': regForm.land.$invalid && regForm.land.$dirty }" name="land" ng-model="reg.booking.land" required>
                                        {% get_countries as countries %}

                                        {% for country in countries %}
                                        {{country}}
                                        <option value="{{country.code}}" {% if country.code == "DE" %}selected{% endif %}>{{country.name}}</option>
                                        {% endfor %}
                                </select>
                        </div>
                        {% if event.telefon %}
                        <div class="form-group col-md-6">
                                <label>Telefon (für Notfälle)</label>
                                <input class="form-control"  ng-class="{ 'is-invalid': regForm.telefon.$invalid && regForm.telefon.$dirty}" name="telefon" ng-model="reg.booking.telefon" type="tel" required>
                        </div>
                        {% endif %}
                    </div>
                    {% elif event.telefon %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Telefon (für Notfälle)</label>
                            <input class="form-control" ng-class="{ 'is-invalid': regForm.telefon.$invalid && regForm.telefon.$dirty}" name="telefon" ng-model="reg.booking.telefon" type="tel" required>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Verein {% if not event.adresse %}oder Ort{% endif %}</label>
                            <input class="form-control"  ng-class="{ 'is-invalid': regForm.verein_ort.$invalid && regForm.verein_ort.$dirty }" name="verein_ort" ng-model="reg.booking.verein_ort" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Geburtsdatum</label>
                            <p class="input-group">
                            <input type="text"  ng-class="{ 'is-invalid': regForm.geburtsdatum.$invalid && regForm.geburtsdatum.$dirty }" required uib-datepicker-popup="dd.MM.yyyy" ng-model-options="{timezone: 'UTC'}" datepicker-options="{datepickerMode: 'year'}" name="geburtsdatum" is-open="reg.datePopup" class="form-control" ng-model="reg.booking.geburtsdatum" required>
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-dark" ng-click="reg.datePopup = true"><i class="fa fa-calendar"></i></button>
                            </span>   
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>E-Mail-Adresse</label>
                            <input class="form-control" ng-class="{ 'is-invalid': regForm.email.$invalid && regForm.email.$dirty }" name="email" ng-model="reg.booking.email" type="email" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>E-Mail-Adresse (nochmal zur Bestätigung)</label>
                            <input class="form-control" ng-class="{ 'is-invalid': regForm.email_confirm.$invalid && regForm.email_confirm.$dirty }" name="email_confirm" ng-model="reg.booking.email_confirm" type="text" required match="reg.booking.email">
                            <div ng-show="regform.email_confirm.$error.match">E-Mail-Adressen stimmen nicht überein.</div>
                        </div>
                    </div>

                </div>
            </div>
            {% if event.disziplinen.all %}
            <div class="card mb-3">
                <div class="card-header"><i class="fa fa-list-ol"></i> Disziplinen</div>
                <div class="card-body">
                    {% for disziplin in event.disziplinen.all %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" ng-model="reg.booking.disziplinen[{{disziplin.id|unlocalize}}]" type="checkbox" value="{{disziplin.id}}" id="disziplin_{{disziplin.id|unlocalize}}">
                            <label class="form-check-label" for="disziplin_{{disziplin.id|unlocalize}}">
                                {{disziplin}}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="card mb-3">
                <div class="card-header"><i class="fa fa-home"></i> Unterkunft, Verpflegung &amp; sonstige Angaben</div>
                <div class="card-body">
                    {% if event.paketsystem_nutzen %}
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><i class="fa fa-package"></i> Paket</th>
                                    <th class="text-right">Preis</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% verbatim %}
                                <tr ng-repeat="p in reg.packages" ng-click="reg.booking.paket = p">
                                    <td><input name="paket" type="radio" ng-value="p" ng-model="reg.booking.paket" required></td>
                                    <td>
                                        <strong>{{p.name}}</strong>
                                        <div ng-bind-html="p.beschreibung">
                                        </div>
                                    </td>           
                                    <td class="text-right">€ {{p.preis}}</td>
                                </tr>
                                {% endverbatim %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-responsive -->
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Schlafplatz</th>
                                    <th class="text-right">Verfügbare Plätze</th>
                                    <th class="text-right">Aufpreis</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="s in reg.sleep" ng-click="(s.frei > 0) && (reg.booking.schlafen = s)" ng-class="{ danger: s.frei <= 0 }">
                                    {% verbatim %}
                                        <td><input ng-disabled="s.frei <= 0" ng-class="{ disabled: s.frei <= 0 }" type="radio" name="schlafen" ng-value="s" ng-model="reg.booking.schlafen" ng-required="reg.booking.paket.naechte > 0"></td>
                                        <td><strong>{{s.name}}</strong><div ng-bind-html="s.beschreibung"></div></td>
                                        <td class="text-right" ng-class="{
                                            'text-succes': s.frei > 10,
                                            'text-warning': s.frei <= 10,
                                            'text-danger': s.frei < 5,
                                        }">
                                            <span ng-if="s.frei <= 0" class="label label-danger">AUSVERKAUFT</span>
                                            <span ng-if="s.frei > 0">
                                                <i class="fa fa-exclamation-circle" ng-if="s.frei < 5" uib-tooltip="Nur noch wenige Plätze verfügbar - lieber schnell buchen!"></i> 
                                                {{ s.frei }}
                                            </span>
                                        </td>
                                        <td class="text-right">€ {{ s.preis * reg.booking.paket.naechte }}</td>
                                    {% endverbatim %}
                                </tr>
                               
                                <tr ng-if="!reg.sleep.length">
                                    <td colspan="4" class="text-center">
                                        - Keine Optionen verfügbar -
                                    </td>
                                </tr>

                            </tbody>
                        </table> 
                    </div> <!-- /.table-responsive -->
                    {% endif %}

                    <div class="row">

                        {% if event.anreise.all %}
                        <p class="form-group col-md-6">
                            <label>Anreise</label>
                            <select class="form-control" ng-model="reg.booking.anreise" required ng-options="item as item.tag for item in reg.anreise">
                                    <option value="" selected>(bitte Anreisezeit/-datum wählen)</option>
                            </select>
                        </p>
                        {% endif %}
                        {% if event.abreise.all %}
                        <p class="form-group col-md-6">
                            <label>Abreise</label>
                            <select class="form-control" ng-model="reg.booking.abreise" required ng-options="item as item.tag for item in reg.abreise|filter:reg.filterAbreise">
                                    <option value="" selected>(bitte Abreisezeit/-datum wählen)</option>

                            </select>
                        </p>
                        {% endif %}
                        {% if event.tarife_buchbar.all %}
                        <p class="form-group col-md-6">
                            <label>Tarif</label>
                            <select class="form-control" ng-model="reg.booking.tarif" required>
                                    <option value="" selected>(bitte Tarif wählen)</option>
                                {% for tarif in event.tarife_buchbar %}
                                    <option value="{{tarif.id}}">{{tarif}}</option>
                                {% endfor %}
                            </select>
                        </p>
                        {% endif %}
                        {% if event.tshirts.all %}
                        <p class="form-group col-md-6">
                            <label>T-Shirt</label>
                            <select class="form-control" ng-model="reg.booking.tshirt" required>
                                    <option value="" selected>(bitte T-Shirt auswählen)</option>
                                {% for tshirt in event.tshirts.all %}
                                    <option value="{{tshirt.id}}">{{tshirt}} (+ € {{tshirt.preis}})</option>
                                {% endfor %}
                            </select>
                        </p>
                        {% endif %}
                    </div>

                    {% if event.verpflegung %}
                        {% if event.vegan or event.vegetarisch %}
                        <div class="card">
                            <div class="card-body">
                                <strong>Verpflegung:</strong> ich esse
                                <label class="radio-inline"><input type="radio" name="essen" value="all" ng-model="reg.booking.essen" required>alles</label>
                                {% if event.vegetarisch %}
                                <label class="radio-inline"><input type="radio" name="essen" value="v" ng-model="reg.booking.essen" required>vegetarisch</label>
                                {% endif %}
                                {% if event.vegan or event.vegan_breakfast_only %}
                                <label class="radio-inline"><input type="radio" name="essen" value="vv" ng-model="reg.booking.essen" required>vegan</label>
                                    {% if event.vegan_breakfast_only %}<span class="label label-danger">Nur Frühstück kann vegan angeboten werden.</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% verbatim %}
            <div class="card border-info">
                <div class="card-header bg-info text-white"><i class="fa fa-table"></i> Zusammenfassung und Buchung</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Details</label>
                                <div class="card">
                                    <div class="card-body">
                                        <div ng-if="reg.booking.vorname && reg.booking.nachname && reg.booking.geburtsdatum">
                                            <i class="fa fa-user fa-fw"></i> <strong>{{reg.booking.vorname}} {{reg.booking.nachname}}</strong>, {{reg.booking.geburtsdatum | date: "mediumDate"}}<span ng-if="reg.booking.verein_ort">, {{reg.booking.verein_ort}}</span>
                                        </div>
                                        <div ng-if="reg.booking.adresse && reg.booking.plz && reg.booking.ort && reg.booking.land">
                                            <i class="fa fa-home fa-fw"></i> {{reg.booking.adresse}}, {{reg.booking.plz}} {{reg.booking.ort}}, {{reg.booking.land}}
                                        </div>
                                        <div ng-if="reg.booking.email">
                                            <i class="fa fa-envelope fa-fw"></i> {{reg.booking.email}}<br>
                                        </div>
                                        <div ng-if="reg.booking.paket">
                                            <i class="fa fa-book fa-fw"></i> {{reg.booking.paket.kurz}}
                                            <br>
                                            <i class="fa fa-bed fa-fw"></i> 
                                                {{reg.booking.schlafen.name || "Keine Übernachtung"}}
                                        </div> 
                                        <span ng-if="reg.booking.tshirt"><i class="fa fa-tshirt fa-fw"></i> T-Shirt: {{reg.tshirts[reg.booking.tshirt].label}}<br></span>
                                        <span ng-if="reg.booking.anreise"><i class="fa fa-plane-arrival fa-fw"></i> Anreise: {{reg.booking.anreise.tag}}<br></span>
                                        <span ng-if="reg.booking.abreise"><i class="fa fa-plane-departure fa-fw"></i> Abreise: {{reg.booking.abreise.tag}}<br></span>

                                        {% endverbatim %}
                                        {% if event.verpflegung %}
                                        <i class="fa fa-utensils fa-fw"></i>
                                            <span ng-if="reg.booking.essen == 'v'">vegetarisch</span>
                                            <span ng-if="reg.booking.essen == 'vv'">vegan</span>
                                            <span ng-if="reg.booking.essen == 'all'">alles</span>
                                        {% endif %}
                                        {% verbatim %}
                                        <div ng-if="reg.booking.tarif">
                                            <i class="fa fa-fw fa-euro-sign"></i>
                                            {{reg.tarif[reg.booking.tarif].tarif}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Anmerkungen zur Buchung</label>
                                <textarea name="anmerkungen" ng-model="reg.booking.anmerkungen" class="form-control" rows=6></textarea>
                            </div>
    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                                {% endverbatim %}
                                {% if event.dokumente.all %}
                                    <h4>Regeln &amp; Bedingungen</h4>
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="reg.booking.bedingungen" type="checkbox" required value="" check-required>
                                            Ich habe folgende Dokumente gelesen und erkläre mich durch meine Buchung damit einverstanden: <br>
                                            {% for dok in event.dokumente.all %}
                                                <strong><a target="_blank" href="{{dok.dokument.url}}">{{dok}}</a></strong>{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </label>
                                    </div>
                                {% endif %}
                                {% verbatim %}
                                <h3>Zu zahlender Betrag: € {{ reg.calcSum() }}</h3> 
                                <p>Zahlungsmöglichkeiten: PayPal oder Überweisung</p>
                                <div class="text-danger" ng-if="regForm.$invalid">
                                    <i class="fa fa-exclamation-circle"></i> Das Formular ist noch nicht komplett und fehlerfrei ausgefüllt. 
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid || reg.bookInProgress" ng-click="reg.submitBooking()">
                        <i ng-if="!reg.bookInProgress && !reg.bookError" class="fa fa-check"></i> 
                        <i ng-if="reg.bookInProgress && !reg.bookError" class="fa fa-spin fa-spinner"></i> 
                        <i ng-if="reg.bookError" class="fa fa-warning"></i> 
                        Verbindlich buchen &amp; bezahlen
                    </button>
                </div>
            </div>
            {% endverbatim %}
        </form>
    </div>
{% endblock %}
