{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Trainer{% endblock %}

{% block content %}
<h1>Unsere Trainer</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    
      <img src="{% static "convention/img/katrine.jpg" %}" alt="Katrine">
      <div class="caption">
        <h3>Katrine Jensen</h3>
        <p>
            Die frischgebackene Freestyle-Weltmeisterin aus Dänemark verrät euch ihre Tricks und Kniffe:
        </p>
        <p>
            Feet under pedals, feet in front of pedals, crossed legs riding, Wheel Walk in allen Variationen (spoke walk, smiley walk, bwd ww, stomach on seat ww), Hand Wheel Walk uvm. 
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static "convention/img/pablo.jpg" %}" alt="Pablo">
      <div class="caption">
        <h3>Pablo Rodriguez Codes</h3>
        <p>
            Er holte sich im Sommer in seinem Heimatland den Weltmeistertitel im X-Style.
        </p>
        <p>
            Bei Pablo und Teis lernt ihr Scuff Coasting in allen Varianten (foward, backward, outside, one handed etc.), Stepovers, Rolls, Übergänge von Wheelwalk-Tricks zu Rolls, Sideways Costing und viele Footjam-Variationen
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static "convention/img/teis.jpg" %}" alt="Teis">
      <div class="caption">
        <h3>Teis Ravn-Jonsen</h3>
        <p>
            Bekannt als einer der besten und kreativsten Freestyler Dänemarks, kombiniert er Flatland- und Freestyle-Tricks in einer einzigartigen Art und Weise. 
        </p>
        <p>
            Bei Teis und Pablo lernt ihr Scuff Coasting in allen Varianten (foward, backward, outside, one handed etc.), Stepovers, Rolls, Übergänge von Wheelwalk-Tricks zu Rolls, Sideways Costing und viele Footjam-Variationen
        </p>
      </div>
    </div>
  </div>

</div>
<div class="row">  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static "convention/img/jan.jpg" %}" alt="Jan">
      <div class="caption">
        <h3>Jan Vocke</h3>
        <p>
            Der amtierende Europameister im Coasting ist nicht nur ein guter Freestyler sondern macht auch auf dem Muni so manchen Berg unsicher.
        </p>
        <p>
            Jan zeigt euch Hopping on Wheel Tricks inkl. Übergängen und Kombinationen, Sideways Wheel Walk / Sideways Gliding, Baywalk,
            Coasting uvm.
        </p>
      </div>
    </div>
  </div>


      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static "convention/img/marie.jpg" %}" alt="Marie">
          <div class="caption">
            <h3>Marie Schlenker</h3>
            <p>
               Wenn sie nicht gerade in rekordverdächtigem Tempo im Gliding die Berge hinunter saust, dann feilt sie wahrscheinlich gerade an kreativen Ideen und neuen Tricks für euch!
            </p>
            <p>
               Cross Over (Basics &amp; Übergänge), Coasting, Spontankür, Paarkürtricks (für Anfänger, Fortgeschrittene und Profis), kreativer "Out-the-game" Workshop 
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static "convention/img/britta.jpg" %}" alt="Britta">
          <div class="caption">
            <h3>Britta Naber</h3>
            <p>
                Früher war Britta mit dem Einrad auf Welt- und Europameisterschaften dabei. Heute gibt sie ihre Tipps an den Nachwuchs weiter:
            </p>
            <p>
                Drag Seat für Anfänger, Einbein, Wheelwalk, Paarkürtricks (für Anfänger, Fortgeschrittene und Profis)
            </p>
          </div>
        </div>
      </div>


</div>
<div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static "convention/img/ben.jpg" %}" alt="Ben">
          <div class="caption">
            <h3>Ben Hackbarth</h3>
            <p>
                Die regelmäßige Teilnahme an Conventions zeigten ihm neue Dimensionen auf und formten aus einem anfangs kleinen Hobby eine große Leidenschaft für Balance und Tricks auf dem Einrad. 
            </p>
            <p>
                Er zeigt euch wie ihr den Körper von Kopf bis Fuß spielerisch mobilisieren könnt, gibt euch verschiedene Aufgaben zum Thema Balance mit und auf dem Einrad und bringt euch das Jonglieren schrittweise näher.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static "convention/img/kirsten.jpg" %}" alt="Kirsten">
          <div class="caption">
            <h3>Kirsten Häusler</h3>
            <p>
                Als langjährige Trainerin begleitete sie den Landeskader Schleswig-Holstein u.a. auf zwei Weltmeisterschaften und einer Europameisterschaft.
            </p>
            <p>
                Kirstens Trickkiste beinhaltet u.a.:
                 Hop on wheel, crossed how, leg around, seat wrap, Aufstiege in allen Varianten, Jump Mount für Anfänger, Idling (u.a. Cross &amp; Crank), Übergänge aus dem Stand Up Gliding mit und ohne Partner
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static "convention/img/axel.jpg" %}" alt="Axel">
          <div class="caption">
            <h3>Axel Kästle</h3>
            <p>
                Er ist immer auf der Suche nach der Balance und neuen spektakulären Plätzen zum Einradeln.
                Trial, Street und Flat sind seine Lieblingsdisziplinen.
                
            </p>
            <p>
                Axel zeigt euch Rolling Wraps, Varial Rolls, Hop on Wheel, Leg Around uvm.
            </p>
          </div>
        </div>
      </div>




</div>
<div class="row">
       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static "convention/img/karl.jpg" %}" alt="René">
          <div class="caption">
            <h3>René Karl</h3>
            <p>
                "Ja man!" - Karl, Gründer des Einradclub Erfurt, ist nicht nur Weltmeister im Organisieren von Einrad-Events, sondern auch ein leidenschaftlicher Trial- und Muni-Fahrer.
            </p>
            <p>
                Er zeigt euch die Grundlagen des Trials und die ersten Schritte auf einem BC Wheel.<br>
                Also: Wenn noch Platz ist, am besten neben eurem Freestyle-Rad auch ein Trial mitbringen!
            </p>
          </div>
        </div>
      </div>
</div>



{% endblock %}
